<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.dogefaucet.apps"
    versionCode = "15"
    version     = "3.0.0" >

  <name>DogeFaucet</name>

  <description>
      Claim Dogecoin every 4 minute's
  </description>

  <author href="https://facebook.com/ryan.hac" email="ryandevstudio@gmail.com">
      Ryan Aunur Rassyid
  </author>
  
  <preference name="permissions" value="none"/>

  <!-- Plugins -->
  <plugin name="cordova-plugin-admobpro" spec="2.29.29" />
  <plugin name="com.verso.cordova.clipboard" spec="0.1.0" />
  <plugin name="cordova-plugin-whitelist" source="npm"/>
  <plugin name="cordova-plugin-extension" source="npm" />
  <plugin name="cordova-plugin-device" spec="2.0.0"/>
  <plugin name="cordova-plugin-google-analytics" spec="1.8.3"/>

  <access origin="*"/>

  <platform name="android">
      <preference name="android-minSdkVersion" value="19" /> <!-- Kitkat -->

      <icon density="ldpi" src="res/icons/android/ldpi.png"/>
      <icon density="mdpi" src="res/icons/android/mdpi.png"/>
      <icon density="hdpi" src="res/icons/android/hdpi.png"/>
      <icon density="xhdpi" src="res/icons/android/xhdpi.png"/>
      <icon density="xxhdpi" src="res/icons/android/xxhdpi.png"/>
      <icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png"/>
  </platform>

  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />


</widget>